@font-face{
  font-family: Lato-Regular;
  src: url(../fonts/Lato-Regular.ttf);
}

@font-face{
  font-family: Lato-Bold;
  src: url(../fonts/Lato-Bold.ttf);
  font-weight: bold;
}

@font-face{
  font-family: Lato-Black;
  src: url(../fonts/Lato-Black.ttf);
}

@font-face{
  font-family: Lato-Light;
  src: url(../fonts/Lato-Light.ttf);
}

body{
  color: #767e9e;
  font-family: Lato-Regular;
  font-size: 12px;
}

.container-fluid {
  margin-bottom: 6px;
}

.page{
  padding: 30px 20px;
}

.page > h1{
  color: #666d89;
  font-family: Lato-Black;
  font-size: 2.45em;
}

.h2, h2{
  color: #767e9e;
  font-family: Lato-Light;
  font-size: 1.5em;
}

.h3, h3{
  color: #666d89;
  font-family: Lato-Black ;
  font-size: 1.5em;
}

.navbar-inverse {
  background-color: #303441;
  box-shadow: 0px 6px 0px #373b4a;
  border: none;
  margin-bottom: 6px;
}

.navbar-static-top{
  padding-right: 20px;
}

.navbar-inverse .navbar-nav > li > a{
  color: white;
  font-family: Lato-Regular;
  text-transform: uppercase;
  font-size: 9px;
}

.navbar-inverse .navbar-nav > .active >a{
  color: #eb5055;
  background-color: transparent;
}

.page-primary-color{
  color: #F0D8D9;
  background-color: #eb5055;
  box-shadow: 0px 6px 0px #ea676b;
}

.page-primary-color h1, .page-primary-color h2, .page-primary-color h3 {
  color: #F0D8D9;
}

.page-grey-color{
  background-color: #f2f2f2;
  box-shadow: 0px 6px 0px #ffffff;
}

.page-dark-color{
  background-color: #303441;
  box-shadow: 0px 6px 0px #373b4a;
}

.form-control{
  color: #f48c8f;
  background-color: #ca4549;
  border: 1px solid #ca4549;
  font-size: 12px;
}

.form-control::-webkit-input-placeholder{ color: #f48c8f; }
.form-control:-moz-placeholder { color: #f48c8f; }
.form-control::-moz-placeholder { color: #f48c8f; }
.form-control:-ms-input-placeholder { color: #f48c8f; }

.carousel-control.left{
  background-color: transparent;
  background-image : none;
}

.carousel-control.right{
  padding-right: 0.8em;
  background-color: transparent;
  background-image: none;
}

.carousel-control{
  width: 0;
}

.prev{
  position: absolute;
  top: 50%;
}

.next{
  position: absolute;
  top: 50%;
}

.service img{
  padding-top: 20px;
}

.btn-default{
  color: #767e9e;
  background-color: transparent;
  border-color: #767e9e;
}

.btn-active{
  color: #dedede;
  border-color: #dedede;
}

.page-content{
  padding-top: 20px;
  padding-bottom: 20px;
}

.img-parent-dimensions{
  width: 100%;
  display: block;
}

.social-links{
  padding-top: 10px;
  padding-bottom: 10px;
}

.portfolio{
  width: 100%;
  padding: 10px;
}

footer{
  color: #494e62;
  background-color: #303441;
  padding: 20px 40px;
}

footer ul{
  list-style-type: none;
  float: right;
  margin: 0;
  padding: 0;
}

footer li{
  float: left;
}

footer li a{
  display: block;
}

.col-center-block {
    float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.btn-contact {
  display: inline-block;
  width: 12px;
  height: 12px;
  padding: 5px;
}

.btn-address {
  background: transparent url(../images/contact_location.png) no-repeat;
}

.btn-mail {
  background: transparent url(../images/contact_mail.png) no-repeat;
}

.btn-phone {
  background: transparent url(../images/contact_phone.png) no-repeat;
}
