<section id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <!-- Wrapper for slides -->
        <section class="carousel-inner" role="listbox">
          <section class="item active">
            <section class="row">
              <section class="col-md-6 col-md-offset-1">
                <img src="images/iphones.png" class="img-parent-dimensions">
              </section>
            </section>
          </section>
          <section class="item">
            <section class="row">
              <section class="col-md-6 col-md-offset-1">
                <img src="images/iphones.png" class="img-parent-dimensions">
              </section>
            </section>
          </section>
        </section>

        <!-- Controls -->
        
      </section>

      <section class="row">//
                <section class="col-md-6 col-md-offset-1">
                  <img src="images/iphones.png" class="img-parent-dimensions">
                </section>
              </section>//